.muppet-list
	.md-button
		width: 100%
		text-align: left
.content-wrapper
	position: relative
	.student-list
		.student
			background: #80d8ff

.slide-pop
	position: relative
	left: 0
	top: 0
	width: 100%
	height: 100%

.slide-pop.ng-enter,
.slide-pop.ng-leave
	-webkit-transition: all 1s linear
	-moz-transition: all 1s linear
	-o-transition: all 1s linear
	transition: all 1s linear

.slide-pop.ng-enter
	opacity: 0
	-webkit-transform: scale(.5)
	-moz-transform: scale(.5)
	-ms-transform: scale(.5)
	-o-transform: scale(.5)
	transform: scale(.5)

.slide-pop.ng-enter-active
	opacity: 1
	-webkit-transform: scale(1)
	-moz-transform: scale(1)
	-ms-transform: scale(1)
	-o-transform: scale(1)
	transform: scale(1)

.slide-pop.ng-leave
	left: 0
	opacity: .5

.slide-pop.ng-leave-active
	left: -100%
	opacity: 0


.reverse .page.slide-pop.ng-enter
	opacity: .5
	left: -100%
	-webkit-transform: scale(1)
	-moz-transform: scale(1)
	-ms-transform: scale(1)
	-o-transform: scale(1)
	transform: scale(1)

.reverse .page.slide-pop.ng-enter-active
	opacity: 1
	left: 0

.reverse .page.slide-pop.ng-leave
	opacity: .5
	-webkit-transform: scale(1)
	-moz-transform: scale(1)
	-ms-transform: scale(1)
	-o-transform: scale(1)
	transform: scale(1)
	left: 0
	right: 0

.reverse .page.slide-pop.ng-leave-active
	opacity: 0
	-webkit-transform: scale(.5)
	-moz-transform: scale(.5)
	-ms-transform: scale(.5)
	-o-transform: scale(.5)
	transform: scale(.5)

// *
// 	margin: 0
// 	padding: 0
// .clear-fix
// 	clear: both

// #menu-bar
// 	border-bottom: 1px dashed #000
// 	padding: 1rem 0
// 	a
// 		padding: 1rem 2rem
// 		text-decoration: none
// 		background: #008A45
// 		color: #FFF
// 		display: inline-block
// 		&:hover
// 			text-decoration: underline
// 			color: #000

// #wrapper
// 	padding: 1rem 0
// 	a
// 		color: #00F
// 		text-decoration: none
// 		&:hover
// 			color: #F00
// 	table
// 		th
// 			background: #CCC
// 			padding: 5px
// 		td
// 			border: 1px solid #000
// 			padding: 5px
// 	.full-width
// 		width: 100%
// 	.half-width
// 		width: 50%
// 	input[type="text"], select
// 		border: 1px dashed #999
// 		padding: 4px
// 		background: #FFF
// 	input[type="text"]
// 		width: 300px
// 	select
// 		width: 151px